*,
*::before,
*::after {
  box-sizing: border-box;
  transition: .2s;
}

body {
  color: $primary-color;
  font-family: $base-font-family;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  @extend %flex-center;
  overflow: hidden;

  &::after {
    content: '';
    border-bottom: 7px dotted rgba($secondary-color, 0.5);
    width: 56px;
    margin: 7rem auto;
  }

  &:nth-child(n) {
    max-width: 1024px;
    margin: auto;
  }
}