#footer {
  background: linear-gradient(transparent, $light-grey);
  font-size: 0.8rem;
  text-align: center;
  height: 50vh;
  padding-top: 30vh;
}

@media (min-width: $break-md) {
  #footer {
    font-size: 1rem;
    height: 30vh;
    padding-top: 20vh;
  }
}