#landing {
  color: white;
  background: linear-gradient($primary-color, transparent);
  width: 100%;
  height: 130vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10%;
  max-width: none;

  &::after {
    display: none;
  }
}

.landing {
  &__logo {
    width: 50%;

    .logo__fill-1 {
      fill: $primary-color;
      animation: 2s to-left forwards;
    }
    .logo__bar {
      fill: transparent;
    }
    .logo__fill-2 {
      fill: $secondary-color;
      animation: 2s to-right forwards;
    }

    &:hover .logo__clip-path {
      transform-origin: 50% 50%;
      animation: 1s rotate-clip-path backwards;
    }
    &:hover .logo-fill {
      transform-origin: 50% 50%;
      animation: 1s rotate-logo backwards;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $primary-color;
    font-family: 'Carter One', cursive;
    text-shadow: 0px 0px 10px white;
  }

  &__subtitle {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    color: white;
    font-family: 'Carter One', cursive;

    li {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: absolute;
      opacity: 0;
      overflow: hidden;

      span {
        opacity: 0;
        z-index: 1;
        filter: blur(10px);
        transform: translateY(200%);
        transition: 1s;
        padding: 0 2rem;
      }

      .line {
        z-index: 0;
        width: 90%;
        height: 20px;
        margin-top: -18px;
        background: $secondary-color;
        border-radius: 5px 10px;
        transform: scaleX(0);
        transform-origin: 0% 0%;
        transition: 1s transform;
        transition-delay: 1s;
      }

      &.show {
        opacity: 1;

        span {
          opacity: 1;
          filter: blur(0);
          transform: translateY(0);
        }

        .line {
          transform: scaleX(1);
        }
      }
    }
  }
}

.arrows {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  margin-top: 50%;
}

.arrow,
.arrow-shadow {
  align-self: flex-end;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 1rem auto 0;
  height: 5px;
  width: 70px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
  }

  &::before {
    left: 0;
    -webkit-transform: skew(0deg, 30deg);
    -moz-transform: skew(0deg, 30deg);
    -ms-transform: skew(0deg, 30deg);
    -o-transform: skew(0deg, 30deg);
    transform: skew(0deg, 30deg);
  }

  &::after {
    right: 0;
    -webkit-transform: skew(0deg, -30deg);
    -moz-transform: skew(0deg, -30deg);
    -ms-transform: skew(0deg, -30deg);
    -o-transform: skew(0deg, -30deg);
    transform: skew(0deg, -30deg);
  }
}

.arrow {
  animation: 1.5s arrow-body infinite;
}

.arrow-shadow {
  height: 2px;
  transform: translateY(-20px);
  animation: 1.5s arrow-shadow infinite;
}

@keyframes arrow-body {
  0%,
  100% { top: -10px }
  30%,
  50% { top: 40px }
}

@keyframes arrow-shadow {
  0%,
  100% {
    opacity: 0;
    top: -10px;
    filter: blur(1px);
  }
  30% { top: 40px }
  40% { opacity: 1 }
  50% {
    opacity: 0;
    top: 35px;
  }
}

@keyframes rotate-logo {
  92% { transform: rotate(1090deg) }
  94% { transform: rotate(1070deg) }
  96% { transform: rotate(1085deg) }
  98% { transform: rotate(1075deg) }
  100% { transform: rotate(1080deg) }
}

@keyframes rotate-clip-path {
  92% { transform: rotate(-1090deg) }
  94% { transform: rotate(-1070deg) }
  96% { transform: rotate(-1085deg) }
  98% { transform: rotate(-1075deg) }
  100% { transform: rotate(-1080deg) }
}

@keyframes to-left {
  0% { transform: translateX(100%) }
  92% { transform: translateX(2%) }
  94% { transform: translateX(-2%) }
  96% { transform: translateX(1%) }
  98% { transform: translateX(-1%) }
  100% { transform: translateX(0) }
}

@keyframes to-right {
  0% { transform: translateX(-100%) }
  92% { transform: translateX(-2%) }
  94% { transform: translateX(2%) }
  96% { transform: translateX(-1%) }
  98% { transform: translateX(1%) }
  100% { transform: translateX(0) }
}

@media (min-width: $break-md) {
  .landing {
    &__logo {
      width: 35%;
    }

    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 2.5rem;

      li .line {
        margin-top: -20px;
      }
    }
  }
}

@media (min-width: $break-lg) {
  .landing__logo {
    width: 10rem;
  }
  .arrows {
    margin-top: 20%;
  }
}